<%- include('head'); -%>

<body>
	<div class="flex overflow-hidden bg-gray-100">

	<%- include('nav'); -%>

	<div class="main-profile w-4/6 mx-auto mt-32 sm:mt-5 md:mt-5 lg:mt-5 min-h-screen">
		<!--
		  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
		  Read the documentation to get started: https://tailwindui.com/documentation
		-->
		<div class="bg-white shadow overflow-hidden sm:rounded-lg">
		  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
		    <h3 class="text-lg leading-6 font-medium text-gray-900">
		      Mon compte
		    </h3>
		    <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
		      Détail des informations personnelles
		    </p>
		  </div>

		  <%-include('alert-error'); -%>

		  <div id="loader"></div>

		  <div class="px-4 py-5 sm:p-0">
		    <dl id="profil-infos">
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">		    
		    	<a href="#" id="btn-edit-profil-infos" class="btn-profil-edit text-sm font-small text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out col-span-2">
                    Modifier vos informations personnelles
            	</a>
              </div>
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Civilité
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.civil %>
		        </dd>
		      </div>		    
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Nom
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.last_name %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Prénom
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.first_name %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Numéro de Téléphone
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.tel %>
		        </dd>
		      </div>
		    </dl>

			<%- include('profil-edit-infos'); -%>		    

		    <dl id="profil-password">
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
		    	<a href="#" id="btn-edit-profil-password" class="btn-profil-edit text-sm font-small text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out col-span-2">
                    Modifier votre mot de passe
            	</a>
              </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Mot de passe
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          ********
		        </dd>
		      </div>
		    </dl>

		    <%- include('profil-edit-password'); -%>

		    <dl id="profil-company">
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
		    	<a href="#" id="btn-edit-profil-company" class=" btn-profil-edit text-sm font-small text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out col-span-2">
                    Modifier vos informations entreprise
            	</a>
              </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Nom de la société
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.company_name %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Numéro de TVA
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.tva_num %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Numéro de SIRET
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.siret %>
		        </dd>
		      </div>	
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Adresse de facturation
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		        	<%= userInfos.company_adresse %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Code Postal
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		        	<%= userInfos.company_cp %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Ville
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		        	<%= userInfos.company_city %>
		        </dd>
		      </div>
		    </dl>	
		    <%- include('profil-edit-company'); -%>

			<!-- <dl id="profil-payments">
		      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
		    	<a href="#" id="btn-edit-profil-payments" class=" btn-profil-edit text-sm font-small text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out col-span-2">
                    Modifier vos moyens de paiement
            	</a>
              </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Moyen de paiement utilisé
		        </dt>
		        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
		          <%= userInfos.payment_method %>
		        </dd>
		      </div>
		      <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
		        <dt class="text-sm leading-5 font-medium text-gray-500">
		          Détails
		        </dt>
		        <% if (userInfos.payment_method == 'cb') { %>	        
			        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
			          <%= paymentInfos.cb.cardNumber %>
			        </dd>
		        <% }
		        else if (userInfos.payment_method == 'sepa') { %>
			        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
			          <%= paymentInfos.sepa.iban %>
			        </dd>		        
		        <% } %>
		      </div>
		    </dl> -->
		    <!-- <%- include('profil-edit-payments'); -%> -->
		</div>
	</div>
	<input type="hidden" id="user-id" value="<%= userInfos.id %>">
	<input type="hidden" id="user-payment-method" value="<%= userInfos.payment_method %>">

	<%- include('modal-success'); %>

</body>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>